
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins";
}

.sec-container {
  max-width: 1040px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.04);
  /* padding: 5rem; */
  margin: 0 auto;
  scale: 1.1;
}

.main-box {
  display: flex;
  justify-content: space-between;
}

.img-box {
  width: 50%;
}
.img-box img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.form-box {
  width: 50%;
  padding: 5rem 2.8rem;
}

.form-box h1 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #ff4f5a;
  margin-bottom: 2.1rem;
  letter-spacing: 0px;
  line-height: 2.3rem;
}

.form-box label {
  color: #000000a6;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.form-box input {
  margin-top: 3px;
  width: 70%;
  background-color: #f6f6f6;
  padding: 4px 8px;
  font-size: 13px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.login-button {
  border: 1px solid transparent;
  outline: none;
  background-color: #161616;
  color: white;
  border-radius: 3px;
  padding: 4px 19px;
  font-size: 14px;
}


.register-button {
  border: none;
  outline: none;
  background-color: #ff4f5a;
  text-decoration: none;
  color: #ff4f5a;
  border-radius: 3px;
  padding: 4px 19px;
  font-size: 14px;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 15px;
}
